export ADDR=":8080"
export CORS_ALLOWED_ORIGIN="http://localhost:5174,https://gopher-social-web.vercel.app"

export FRONTEND_URL="https://gopher-social-web.vercel.app"
export DB_ADDR=postgres://root:root@localhost/vol7?sslmode=disable
export MAIL_TRAP_API="bf9ca2329e45ea501eb6a058c4ed2d65"
export FROM_EMAIL="felipeeguia03@gmail.com"